{% extends "FOSUserBundle::layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<br>

<a class="btn btn-primary" href="{{ path('obdo_kuchi_komi_user_add') }}">
    <span class="glyphicon glyphicon-user"><span class="glyphicon glyphicon-plus"></span> </span> Nouvel utilisateur</a>

<br>
<br>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'name_up'}) }}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                Nom
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'name_down'}) }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </th>
            <th>
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'role_up'}) }}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                Role
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'role_down'}) }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </th>
            <th>
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'login_up'}) }}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                Dernier login
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'login_down'}) }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ path('obdo_kuchi_komi_user_view', {'id': user.id}) }}">{{user.username}}</a></td>
            <td>{{ user.roles[0] }}</td>
            <td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <foot>
    </tfoot>
</table>

{% if users|length > 0 %}
    <div>
        <ul class="pagination">
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('obdo_kuchi_komi_user', {'page': p, 'sort': sort}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



{% endblock %}