{% extends "FOSUserBundle::layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<br>
<br>
<a class="btn btn-primary" href="{{ path('obdo_kuchi_komi_user_add') }}">
    <span class="glyphicon glyphicon-user"><span class="glyphicon glyphicon-plus"></span> </span>Nouvel utilisateur</a>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'name_up'}) }}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                Nom
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'name_down'}) }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </th>
            <th>
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'role_up'}) }}">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                Role
                <a href="{{ path('obdo_kuchi_komi_user', {'page': page, 'sort': 'role_down'}) }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </th>
            <!--<th></th>-->
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            
            <td>
                {% for role in user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
            <td><a href="{{ path('obdo_kuchi_komi_user_view', {'id': user.id}) }}"><span class="glyphicon glyphicon-stats"></span></a></td>
            {# <td><a href="{{ path('obdo_kuchi_komi_user_view', {'id': user.id}) }}"><span class="glyphicon glyphicon-plus"></span></a></td> #}

        </tr>
        {% endfor %}
    </tbody>
    <foot>
    </tfoot>
</table>

{% if users|length > 0 %}
    <div>
        <ul class="pagination">
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('obdo_kuchi_komi_user', {'page': p, 'sort': sort}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



{% endblock %}