{% extends "obdoKuchiKomiMenuBundle::baseMenu.html.twig" %}

{% block kk_menu_body %}
    <li><a href="{{ path('obdo_kuchi_komi_homepage') }}">Tableau de bord</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_user', {'page': 1, 'sort': 'name_up'}) }}">Utilisateurs</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_client', {'page': 1, 'sort': 'name_up'}) }}">Clients</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_kuchi_group', {'page': 1, 'sort': 'active_up'}) }}">Groupe de Kuchis</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_kuchi', {'page': 1, 'sort': 'active_up'}) }}">Kuchis</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_komi', {'page': 1, 'sort': 'active_up'}) }}">Komis</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_logs', {'page': 1, 'sort': 'date_up'}) }}">Logs</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_appel', {'page': 1, 'sort': 'date_up'}) }}">Appels</a></li>
    <li class="dropdown">
    <a  class="dropdown-toggle" data-toggle="dropdown">Messages<b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li><a href="{{ path('obdo_kuchi_komi_kuchikomi_add',{'id' : 0}) }}">Envoyer un message instantané</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_kuchikomi_addrecurrent') }}">Enregistrer un message récurrent</a></li>
    </ul>
    </li>
{% endblock %}
