{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}
<h3>{{ action }} pour le client  {{ client.raissoc }}</h3>
<h4> à {{ client.codposcli }} {{ client.villecli }}</h4>
<div class="well">
    <form method="post" {{ form_enctype(form) }} >
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <br />
      
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>


{% endblock %}