{% extends "obdoKuchiKomiBundle::base.html.twig" %}

{% block kk_body_KuchiKomiBundle %}
        
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Komi random Id = {{ Komi.randomId }}</h3></div>
  

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Date de création : {{ Komi.timestampCreation|date('Y-m-d H:i:s') }}</li>

    {% if Komi.active != 1 %}
        <li class="list-group-item">Inactif</li>
        <li class="list-group-item">Date de suppression : {{ Komi.timestampSuppression|date('Y-m-d H:i:s') }}</li>
    {% else %}
        <li class="list-group-item">Actif</li>
    {% endif %}
    
    <li class="list-group-item">Date de dernière synchronisation : {{ Komi.timestampLastSynchro|date('Y-m-d H:i:s') }}</li>
    
    {% if Komi.osType == 0 %}
        <li class="list-group-item">OS : Android</li>
    {% elseif  Komi.osType == 1%}
        <li class="list-group-item">OS : iOS</li>
    {% else %}
        <li class="list-group-item">OS : inconnu</li>
    {% endif %}
</div>

    <br />
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Groupe</th>
                <th>Actif</th>
                <th>Nom</th>
                <th>Création</th>
                <th>Suppression</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriptionGroup in Komi.subscriptionsGroup %}
                <tr>
                    <td>
                        <img src="{{ asset(subscriptionGroup.kuchiGroup.logo) }}" alt="" width=20 height=20 >
                    </td>
                    <td>Oui</td>
                    {% if subscriptionGroup.active %}
                        <td><p class="text-info">Actif</p></td>
                    {% else %}
                        <td><p class="text-danger">Inactif</p></td>
                    {% endif %}

                    <td><a href="{{ path('obdo_kuchi_komi_kuchi_group_view', {'id': subscriptionGroup.kuchiGroup.id}) }}">{{subscriptionGroup.kuchiGroup.name}}</a></td>

                    <td>{{subscriptionGroup.timestampCreation|date('Y-m-d H:i:s')}}</td>

                    {% if subscriptionGroup.active %}
                        <td>-</td>
                    {% else %}
                        <td>{{subscriptionGroup.timestampSuppression|date('Y-m-d H:i:s')}}</td>
                    {% endif %}

                    {% if subscriptionGroup.type == 0 %}
                        <td>NFC</td>
                    {% elseif subscriptionGroup.type == 1 %}
                        <td>QRCode</td>
                    {% elseif subscriptionGroup.type == 2 %}
                        <td>Web</td>
                    {% else %}
                        <td>Inconnu</td>
                    {% endif %}

                </tr>
            {% endfor %}
            {% for subscription in Komi.subscriptions %}
                <tr>
                    <td>
                        <img src="{{ asset(subscription.kuchi.logoLink) }}" alt="" width=20 height=20 >
                    </td>
                    <td></td>
                    {% if subscription.active %}
                        <td><p class="text-info">Actif</p></td>
                    {% else %}
                        <td><p class="text-danger">Inactif</p></td>
                    {% endif %}

                    <td><a href="{{ path('obdo_kuchi_komi_kuchi_view', {'id': subscription.kuchi.id}) }}">{{subscription.kuchi.name}}</a></td>

                    <td>{{subscription.timestampCreation|date('Y-m-d H:i:s')}}</td>

                    {% if subscription.active %}
                        <td>-</td>
                    {% else %}
                        <td>{{subscription.timestampSuppression|date('Y-m-d H:i:s')}}</td>
                    {% endif %}

                    {% if subscription.type == 0 %}
                        <td>NFC</td>
                    {% elseif subscription.type == 1 %}
                        <td>QRCode</td>
                    {% elseif subscription.type == 2 %}
                        <td>Web</td>
                    {% else %}
                        <td>Inconnu</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
        <foot>
            </tfoot>
    </table>


<br>


{% endblock %}