{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if KuchiGroup.active %}
        {% set txtbouton = 'Désactiver' %}
        {% set modalTitle = 'Désactiver' %}
        {% set modalDetail = 'désactiver' %}
    {% else %}
        {% set txtbouton = 'Activer' %}
        {% set modalTitle = 'Activer' %}
        {% set modalDetail = 'activer' %}
    {% endif %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">{{ modalTitle }} un groupe</h4>
            </div>
            <div class="modal-body">
              Etes vous sur de vouloir {{ modalDetail }} ce groupe ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
              <a href="{{ path('obdo_kuchi_komi_kuchi_group_activ', {'id': KuchiGroup.id}) }}"><button type="button" class="btn btn-primary">Oui</button></a>
            </div>
          </div>
        </div>
    </div>

            
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3><img src="{{ asset(KuchiGroup.logo) }}" alt="" width=50 height=50 class="img-thumbnail">  {{ KuchiGroup.name }}</h3></div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Identifiant : {{ KuchiGroup.id }}</li>
            <li class="list-group-item">Date de création : {{ KuchiGroup.timestampCreation|date('Y-m-d H:i:s') }}</li>
            {% if KuchiGroup.active != 1 %}
                <li class="list-group-item">Inactif</li>
                <li class="list-group-item">Date de suppression : {{ KuchiGroup.timestampSuppression|date('Y-m-d H:i:s') }}</li>
            {% else %}
                <li class="list-group-item">Actif</li>
            {% endif %}

            <li class="list-group-item">Nombre MAX de Kuchi : {{ KuchiGroup.nbMaxKuchi }}</li>
            <li class="list-group-item">Nombre abonnés potentiel : {{ KuchiGroup.nbAboPotentiel }}</li>
        
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li class="list-group-item">
                <a class="btn btn-default" href="{{ path('obdo_kuchi_komi_kuchi_group_update', {'id': KuchiGroup.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Modifier</a>

                    <a class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-remove"></span> {{ txtbouton }}</a>
                            
            </li>
        {% endif %}
        </ul>
    </div>
        <br />
        <div>{{ message|default('') }}</div>
    <br />
    
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a class="btn btn-default" href="{{ path('obdo_kuchi_komi_kuchi_add', {'groupId': KuchiGroup.id}) }}">
            <span class="glyphicon glyphicon-plus"></span> Ajouter un kuchi</a>
    {% endif %}
    
    <br/><br/>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Actif</th>
                <th>Nom</th>
                <th>Création</th>
                <th>Suppression</th>
                <th>Nb Abonnement</th>
                <th>Nb KuchiKomi</th>
            </tr>
        </thead>
        <tbody>
            {% for kuchi in KuchiGroup.kuchis %}
                <tr>
                    <td>
                        <img src="{{ asset(kuchi.logoLink) }}" alt="" width=20 height=20 >
                    </td>
                    {% if kuchi.active %}
                        <td><p class="text-info">Actif</p></td>
                    {% else %}
                        <td><p class="text-danger">Inactif</p></td>
                    {% endif %}

                    <td><a href="{{ path('obdo_kuchi_komi_kuchi_view', {'id': kuchi.id}) }}">{{kuchi.name}}</a></td>

                    <td>{{kuchi.timestampCreation|date('Y-m-d H:i:s')}}</td>

                    {% if kuchi.active %}
                        <td>-</td>
                    {% else %}
                        <td>{{kuchi.timestampSuppression|date('Y-m-d H:i:s')}}</td>
                    {% endif %}

                    <td>{{kuchi.subscriptions|length}}</td>

                    <td>{{kuchi.kuchikomis|length}}</td>

                </tr>
            {% endfor %}
        </tbody>
        <foot>
            </tfoot>
    </table>

    {% endblock %}