{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

<h3>Modifier un groupe de Kuchi</h3>
<div class="well">
    
    <form method="post" {{ form_enctype(form) }}>
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.name, "Nom") }}<br />
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            {% set name = {'attr': {'value': kuchiGroup.getName()} } %}
        </div>
        <br />
        <div>
            {{ form_label(form.nbMaxKuchi, "Nombre MAX de Kuchi") }}<br />
            {{ form_errors(form.nbMaxKuchi) }}
            {{ form_widget(form.nbMaxKuchi) }}
            {% set name = {'attr': {'value': kuchiGroup.getNbMaxKuchi()} } %}
        </div>
        <br />
        <div>
            {{ form_label(form.logoimg, "Logo du groupe") }}<br />
            {{ form_errors(form.logoimg) }}
            {{ form_widget(form.logoimg) }}
        </div>
        <br />
        {{ form_rest(form) |nl2br}}
        
        <input type="submit" class="btn btn-primary" />
        <input type="reset" class="btn btn-primary" />
    </form>
    
</div>


{% endblock %}