{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

<h3>Ajouter un groupe de Kuchi</h3>
<div class="well">
    
    <form method="post" {{ form_enctype(form) }}>
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.name, "Nom") }}<br />
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <br />
        <div>
            {{ form_label(form.nbMaxKuchi, "Nombre MAX de Kuchi") }}<br />
            {{ form_errors(form.nbMaxKuchi) }}
            {{ form_widget(form.nbMaxKuchi) }}
        </div>
        <br />
        <div>
            {{ form_label(form.nbAboPotentiel, "Nombre abonnés potentiel") }}<br />
            {{ form_errors(form.nbAboPotentiel) }}
            {{ form_widget(form.nbAboPotentiel) }}
        </div>
        <br />
        <div>
            {{ form_label(form.logoimg, "Logo du groupe") }}<br />
            {{ form_errors(form.logoimg) }}
            {{ form_widget(form.logoimg) }}
        </div>
        
        {{ form_rest(form) }}

        <br />
        <a class="btn btn-default" href="{{ path('obdo_kuchi_komi_kuchi_group', {'page': 1, 'sort': 'active_up'}) }}">Annuler</a>
        <input type="submit" class="btn btn-primary" />
    </form>
    
</div>


{% endblock %}