{% extends "obdoKuchiKomiBundle::base.html.twig" %}

{% block kk_body_KuchiKomiBundle %}
        
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3><img src="{{ asset(Kuchi.logoLink) }}" alt="" width=50 height=50 class="img-thumbnail">  {{ Kuchi.name }}</h3></div>
  <div class="panel-body">
    <center><img src="{{ asset(Kuchi.photoLink) }}" alt="" alt="" width=160 height=160 class="img-thumbnail"></center>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Identifiant : {{ Kuchi.id }}</li>
    <li class="list-group-item">Date de création : {{ Kuchi.timestampCreation|date('Y-m-d H:i:s') }}</li>

    {% if Kuchi.active != 1 %}
        <li class="list-group-item">Inactif</li>
        <li class="list-group-item">Date de suppression : {{ Kuchi.timestampSuppression|date('Y-m-d H:i:s') }}</li>
    {% else %}
        <li class="list-group-item">Actif</li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN_GROUP_KUCHI') %}
        <li class="list-group-item">Groupe : <a href="{{ path('obdo_kuchi_komi_kuchi_group_view', {'id': Kuchi.kuchiGroup.id}) }}">{{Kuchi.kuchiGroup.name}}</a></li>
    {% else %}
        <li class="list-group-item">Groupe : {{Kuchi.kuchiGroup.name}}</li>
    {% endif %}
    
    <li class="list-group-item">Abonnement Client : {{ Abo.titreabo }}  </li>
    {% if Abo.titreabo != "Pas d'abonnement en cours" %}
        <li class="list-group-item">
            {% if Abo.datefinabo|date('Ymd') < "now"|date('Ymd') %}
                <span class="label label-danger">
            {% endif %} 
                Abonnement valide du : {{ Abo.datedebabo|date('Y-m-d') }} au : {{ Abo.datefinabo|date('Y-m-d') }}
            {% if Abo.datefinabo|date('Ymd') < "now"|date('Ymd') %}
                </span>
            {% endif %}  
        </li>
    {% endif %}    
   </ul>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a class="btn btn-default" href="{{ path('obdo_kuchi_komi_kuchi_update', {'id': Kuchi.id}) }}">
            <span class="glyphicon glyphicon-pencil"></span> Modifier</a>
    {% endif %}
</div>

<br>

<table class="table table-hover table-condensed">
    <a class="btn btn-default" href="{{ path('obdo_kuchi_komi_kuchikomi_add', {'id': Kuchi.id}) }}">
            <span class="glyphicon glyphicon-pencil"></span> Nouveau KuchiKomi</a>
            <br>
    <thead>
        <tr>
            <th>Etat</th>
            <th>Titre</th>
            <th>Création</th>
            <th>Suppression</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Merci</th>
        </tr>
    </thead>
    <tbody>
        {% for kuchikomi in Kuchi.kuchikomis %}
        <tr>
            {% if kuchikomi.active %}
                <td><p class="text-info">Actif</p></td>
            {% else %}
                <td><p class="text-danger">Inactif</p></td>
            {% endif %}
            
            <td><a href="{{ path('obdo_kuchi_komi_kuchikomi_view', {'id': kuchikomi.id}) }}">{{kuchikomi.title}}</a></td>

            <td>{{kuchikomi.timestampCreation|date('Y-m-d H:i:s')}}</td>
            
            {% if kuchikomi.active %}
                <td>-</td>
            {% else %}
                <td>{{kuchikomi.timestampSuppression|date('Y-m-d H:i:s')}}</td>
            {% endif %}
            
            <td>{{kuchikomi.timestampBegin|date('Y-m-d H:i:s')}}</td>
            
            <td>{{kuchikomi.timestampEnd|date('Y-m-d H:i:s')}}</td>
            
            <td>{{kuchikomi.getNbThanks}}</td>
           
        </tr>
        {% endfor %}
    </tbody>
    <foot>
    </tfoot>
</table>


{% endblock %}