{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

<h3>Ajouter un groupe de Kuchi</h3>
<div class="well">
    
    <form method="post" {{ form_enctype(form) }}>
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.name, "Nom") }}<br>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        
        <div>
            {{ form_label(form.nbMaxKuchi, "Nombre MAX de Kuchi") }}<br>
            {{ form_errors(form.nbMaxKuchi) }}
            {{ form_widget(form.nbMaxKuchi) }}
        </div>
        
        {{ form_rest(form) }}

        <br>
        <input type="submit" class="btn btn-primary" />
    </form>
    
</div>


{% endblock %}