{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

{# On affiche les messages flash que définissent les contrôleurs du bundle #}
{% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
        <div class="panel panel-heading">
            <h5 class="panel-title">Message récurrent</h5>
        </div>
    </div>
</div>
<br />
    <form method="post" {{ form_enctype(form) }}>
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.kuchi, "Emetteur") }}<br />
                {{ form_errors(form.kuchi) }}
                {{ form_widget(form.kuchi) }}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.recurrence) }}<br />
                {{ form_errors(form.recurrence) }}
                {{ form_widget(form.recurrence) }}  
            </div> 
        </div>
        <br />
        <div class="row">   
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.beginRecurrence, "Du :") }}<br />
                {{ form_errors(form.beginRecurrence) }}
                {{ form_widget(form.beginRecurrence) }}
            </div>                   
            <div class="col-md-3">
                {{ form_label(form.endRecurrence, "au :") }}<br />
                {{ form_errors(form.endRecurrence) }}
                {{ form_widget(form.endRecurrence) }}
            </div>  
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.title, "Titre (40 caractères MAX)") }}<br />
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                {{ form_label(form.details, "Message (300 caractères MAX)") }}<br />
                {{ form_errors(form.details) }}
                {{ form_widget(form.details) }}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                {{ form_label(form.photoLink, "Photo") }}<br />
                {{ form_errors(form.photoLink) }}
                {{ form_widget(form.photoLink) }}
                La taille idéale d'une image est de 640x640, les autres tailles seront redimensionnées
            </div>
        </div>       
        <div class="row">           
                {{ form_rest(form) }}   
        </div>
        <br/>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <a class="btn btn-default" href="{{path('obdo_kuchi_komi_homepage')}}">Annuler</a>                  
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>               
    </form>


{% endblock %}
        

