{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>{{ kuchikomi.title }}</h3></div>
  <div class="panel-body">
    <center><img src="{{ asset(kuchikomi.photoLink) }}" alt="" width=160 height=160></center>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Detail : {{ kuchikomi.details }}</li>
    <li class="list-group-item">Date de création : {{ kuchikomi.timestampCreation|date('Y-m-d H:i:s') }}</li>
    <li class="list-group-item">Date de suppression : {{ kuchikomi.timestampSuppression|date('Y-m-d H:i:s') }}</li>
    <li class="list-group-item">Date de début : {{ kuchikomi.timestampBegin|date('Y-m-d H:i:s') }}</li>
    <li class="list-group-item">Date de fin : {{ kuchikomi.timestampEnd|date('Y-m-d H:i:s') }}</li>    
    <li class="list-group-item">Actif : {{ kuchikomi.active }}</li>
    <li class="list-group-item">Lien photo : {{ kuchikomi.photoLink }}</li>
    <li class="list-group-item">Kuchi : <a href="{{ path('obdo_kuchi_komi_kuchi_view', {'id': kuchikomi.kuchi.id}) }}">{{kuchikomi.kuchi.name}}</a></li>
  </ul>
</div>


{% endblock %}