{% extends "obdoKuchiKomiBundle::base.html.twig" %}


{% block kk_body_KuchiKomiBundle %}

{# On affiche les messages flash que définissent les contrôleurs du bundle #}
{% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
        <div class="panel panel-heading">
            <h3 class="panel-title"><strong>Message récurrent</strong></h3>
        </div>
    </div>
</div>
    <form method="post" {{ form_enctype(form) }}>
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"><h4>Emetteur :</h4></div>            
        </div>    
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.kuchi, " ") }}<br />
                {{ form_errors(form.kuchi) }}
                {{ form_widget(form.kuchi) }}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"><h4>Message :</h4></div>            
        </div>        
        <br />        
        <div class="row">   
            <div class="col-md-1"></div>
            <div class="col-md-2">                
                {{ form_label(form.beginRecurrence, "Du :") }}<br />
                {{ form_errors(form.beginRecurrence) }}
                {{ form_widget(form.beginRecurrence) }}                
            </div> 
            <div class="col-md-3">
                {{ form_label(form.endFirstTime, "Au") }}<br />
                {{ form_errors(form.endFirstTime) }}
                {{ form_widget(form.endFirstTime) }}                  
            </div>            
        </div>
        <br /> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {{ form_label(form.beginTime, "Début :") }}<br />
                {{ form_errors(form.beginTime) }}
                {{ form_widget(form.beginTime) }} 
            </div>                   
            <div class="col-md-2">
                {{ form_label(form.endTime, "Fin :") }}<br />
                {{ form_errors(form.endTime) }}
                {{ form_widget(form.endTime) }} 
            </div> 
        </div>
        <br />
                <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.title, "Titre (40 caractères MAX)") }}<br />
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>    
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                {{ form_label(form.details, "Message (300 caractères MAX)") }}<br />
                {{ form_errors(form.details) }}
                {{ form_widget(form.details) }}
            </div>
        </div>      
        <br/>
        <div class="row">
        <div class="col-md-1"></div>                                        
            <div class="col-md-2" >                
                {{ form_label(form.recurrence,"L'évènement aura lieu : ")}}<br />
                {{ form_errors(form.recurrence) }}
                {{ form_widget(form.recurrence) }}                  
            </div>
            <div class="col-md-2" >
            <div class="recurrence"></div>   
            </div>            
        </div>
        <br />    
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                {{ form_label(form.sendDay, "Avant le début de l'évènement") }}<br />
                {{ form_errors(form.sendDay) }}
                <strong> J - </strong> {{ form_widget(form.sendDay) }} &nbsp <strong>Premier envoi :</strong>
            </div>
            <br />
            <div class="col-md-3">
             <div class="ici"></div> 
             </div>
             <br />
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>   
            <div class="col-md-4" >      
                <div class="finrecurrence">
                {{ form_label(form.endRecurrence, "Jusqu'au :") }}<br />
                {{ form_errors(form.endRecurrence) }}
                {{ form_widget(form.endRecurrence) }}
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            {% if kuchikomirecurrent is defined %}
            <div class="col-md-2">                
                    {% if kuchikomirecurrent.photoLink != "" %}                        
                    <center><img src="{{ asset(kuchikomirecurrent.photoLink) }}" alt="" width=160 height=160></center>
                    {% set photo = "Photo actuelle"%} 
                {% else %}     
                {% set photo = "Pas de photo"%}
                    <center>Pas de photo</center>
                    {% endif %}                     
            </div>
            {% else %}
                {% set photo = "Photo"%}
            {% endif %}   
            
        </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                {{ form_label(form.photoimg, photo ) }}<br />
                {{ form_errors(form.photoimg) }}
                {% if kuchikomirecurrent is defined %}    
                    {{ form_widget(form.photoimg) }}
                {% else%}
                    {{ form_widget(form.photoimg) }}
                {%endif%}    
                La taille idéale d'une image est de 640x640, les autres tailles seront redimensionnées
            </div>
        </div>       
        <div class="row">           
                {{ form_rest(form) }}   
        </div>
        <br/>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <a class="btn btn-default" href="{{path('obdo_kuchi_komi_homepage')}}">Annuler</a>                  
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </div>
        </div>               
    </form>
              
{% endblock %}
        

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/kuchikomiform.js') }}"></script>                
    {% endblock %}