<h3> 

<table>
    <tr>
        <th>KuchiGroup</th>
        <th>Kuchi</th>
        <th>KuchiKomi</th>
        <th>Total</th>
    </tr>
    <tr>
        <td><meter min="0" max="{{ max }}" low="1" high="{{ alert }}" value="{{ kuchigroup }}">{{ kuchigroup }}</meter>{{ kuchigroup }} Mo</td>
        <td><meter min="0" max="{{ max }}" low="1" high="{{ alert }}" value="{{ kuchi }}">{{ kuchi }}</meter>{{ kuchi }} Mo</td>
        <td><meter min="0" max="{{ max }}" low="1" high="{{ alert }}" value="{{ kuchikomi }}">{{ kuchikomi }}</meter>{{ kuchikomi }} Mo</td>
        <td><meter min="0" max="{{ max }}" low="1" high="{{ alert }}" value="{{ total }}">{{ total }}</meter>{{ total }} Mo</td>
    </tr>
</table>
</h3>
<p class="text-right">Espace disque utilisé par les photos</p>